body {
    font-family: Arial, sans-serif;
    
    
}

#calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}
.date-picker-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}
.date-input {
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.calendar-icon i {
    font-size: 20px;
    color: #555; 
}



.flatpickr-calendar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); 
}

.flatpickr-day {
    border-radius: 50%; 
}

.flatpickr-day.today {
    color: #ffffff;
    background: #f56c6c; 
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected.nextMonthDay {
    background: #B4B4B8;
    color: #ffffff;
}

#calendar-container input[type="text"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "FontAwesome";
    padding: 10px;
    padding-right: 30px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(60% - 22px); 
    
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}


.flatpickr-innerContainer, .flatpickr-rContainer {
    padding: 10px;
}


.flatpickr-monthDropdown-months, .flatpickr-yearDropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background: white;
}
#calendar-container input[type="text"]::placeholder {
    color: #bbb;
}


#calendar-container input[type="text"] {
    margin-right: -30px; 
    position: relative; 
    z-index: 1; 
}


#events-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 280px)); 
    justify-content: center; 
    gap: 20px 200px; 
    margin-left: -150px;
}
.event {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 420px;
    background-color: #fff; 
    margin: 15px; 
    border-radius: 10px; 
    overflow: hidden;
    margin-top: 40px; 
}
.event:hover{
    background-color: #9EB8D9; 
}

@media (max-width: 768px) {
    #events-container {
        grid-template-columns: 1fr; 
        gap: 10px; 
        margin-left: 0; 
    }

    .event {
        flex-direction: column; 
        align-items: stretch; 
        width: auto; 
    }
}


.event:first-child, .event:nth-child(2), .event:nth-child(3) {
    margin-top: 0;
}

.event img {
    width: 100%;
    object-fit: cover;
}
.event img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}



.event-info {
    padding: 15px;
}

.event-title {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.event-date {
    font-size: 16px; 
    color: #666;
}
.event-description {
    margin-top: 20px;
}

.event-special { 
    color: green;
    border: 1px solid green;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

.event-course {
    color: orange;
    border: 1px solid orange;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

.event-other {
    color: #7C93C3;
    border: 1px solid #7C93C3;
    width: 50px;
    text-align: center;
    border-radius: 10px;
}

.d1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0; 
    padding: 0; 
}


.back-img {
    width: 100%;
}

.front-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.button-link {
    position: absolute;
    display: flex;
    top: 75%;
    right: 20%;
    width: 250px;
    border: #fff 1px solid;
    justify-content: center;
    text-decoration: none;
    height: 70px;
    font-size: 25px;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    align-items: center;
    overflow: visible;
    animation: fadeIn 2s 2s forwards, glowing 3s 2s infinite;
    opacity: 0; 
}
.button-link:hover{
    background-color: #fff;
    color:#6E40F3;
}

.button-link::before {
    content: '';
    display: block;
    height: 2px;
    width: 200px;
    background-color: #fff;
    position: absolute;
    left: -200px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 2s 2s forwards, glowing 3s 2s infinite; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes glowing {
    0%, 100% { box-shadow: 0 0 5px #fff, 0 0 10px #fff; }
    50% { box-shadow: 0 0 15px #fff, 0 0 20px #fff; }
}







@keyframes slideInFromRight {
    from {
        transform: translateX(100%); 
    }
    to {
        transform: translateX(0); 
    }
}


.front-img {
    position: absolute;
    right: 0;
    animation: slideInFromRight 2s ease-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




.navbar {
    position: -webkit-sticky; 
position: sticky;
top: 0;
z-index: 1000;
width: 100%;
background-color: rgba(255, 255, 255, 0.6); 
box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
font-weight: bold;

}


.navbar-nav .nav-link {
    color: #7D7C7C;
    font-size:20px; 
    margin-right: 25px;
    
}
.user-name {
  color: #7D7C7C;
    font-size:20px;
    margin-right: 25px;
}
.user-avatar {
    width: 60px; 
    height: 60px; 
}
.navbar-brand img {
    width: 80px; 
    height: 52px; 
}


